Timezone Problem at Full-Day Events

While Datetime events work without a problem for me, full-day events are one day longer in the answer with this library than with the macOS or Thunderbird calendar. I am not sure where the problem occurs, but I guess it's somewhere in the timezone conversion.

My calendar server (Baikal) works in UTC while my pc and my caldav client work in ETC.

The response of this library already contains the wrong end day, so I assume it's connected to this library. I'm happy to provide more information, I just don't know what's helpful.

@philippneugebauer Thank you for the report. Strange as it may seem, that's actually the expected behaviour.

According to the iCalendar specification, the `DTEND` property is non-inclusive, see [RFC 5545, section 3.6.1](https://tools.ietf.org/html/rfc5545#section-3.6.1):

> The following is an example of the "VEVENT" calendar component used to represent a multi-day event scheduled from June 28th, 2007 to July 8th, 2007 inclusively.  Note that the "DTEND" property is set to July 9th, 2007, since the "DTEND" property specifies the non-inclusive end of the event.
> ```
> BEGIN:VEVENT
> UID:20070423T123432Z-541111@example.com
> DTSTAMP:20070423T123432Z
> DTSTART;VALUE=DATE:20070628
> DTEND;VALUE=DATE:20070709
> SUMMARY:Festival International de Jazz de Montreal
> TRANSP:TRANSPARENT
> END:VEVENT
> ```

This behaviour has been confirmed with Google Calendar for an event ending on March 15th, 2021 inclusively:
```
DTSTART;VALUE=DATE:20210308
DTEND;VALUE=DATE:20210316
```

For an all-day event on March 8th, 2021, the `DTEND` property contains the date of the following day, which is really confusing indeed:
```
DTSTART;VALUE=DATE:20210308
DTEND;VALUE=DATE:20210309
```

I hope the above clarification satisfies your concerns.

Additionally, please note that this library is only responsible for managing the events using CalDAV protocol but neither serializes nor parses the events from the iCalendar format, leaving the original iCalendar payload intact. This allows the developers to use this library in cooperation with any iCalendar parsing/serialization library (see README for recommendations).

Since you are using Baikal, you may also easily inspect the iCalendar data in your browser at `http://<server-url>/cal.php/calendars/<username>/<calendar_id>/<event_id.ics>`. The contents of the `*.ics` file should be identical to the iCalendar payload retrieved using this library.

Thank you for the fast and extensive clarification. I did not expect that behavior to be according to the specification.

So the iCalendar library should handle this case, right?

> So the iCalendar library should handle this case, right?

I think there is no definite answer here. If the library provides a high-level API for storing and processing the calendar events, this case should be covered in the library. Alternatively, if the library provides only parsing/serialization tools for iCalendar properties, I think it is on the developer's side to handle this case.